<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <img src="software.jpg" alt="Windows 10 Software" class="card-img-top">
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quos enim sed nihil veritatis qui.
                </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-block">
                    Buy <i class="fas fa-shopping-cart"></i>


                </button>
            </div>
        </div>

    </div>
</div>