<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Store</title>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">

    <!-- FONT AWESOME -->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
-->
    <script src="https://kit.fontawesome.com/f50cb624a4.js" crossorigin="anonymous"></script>

    <!-- CUSTOM CSS Llamar al archivo css -->
    <link rel="stylesheet" href="/main.css">
</head>

<body>

    <nav class="navbard navbar-dark bg-primary p-2">
        <div class="container">
            <a href="/" class="navbar-brand">
                Software Store
            </a>
        </div> 

    </nav>

    <div class="container">
        {{{ body }}}

    </div>


</body>

</html>